<h1>index page</h1>

<!-- <p class="login"><%= link_to 'login', 'users/new' %></p> -->

<div class='label'>
<% @restaurants.each do |restaurant| %>
<p><%= restaurant.name %><%= link_to(image_tag(restaurant.url), restaurant_path(restaurant), class: "restaurant") %></p>

<% end %>
</div>
