// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




img.custom {
  width:  150px;
  height: 150px;
  margin: 10px;
  float: left;

}

div.custom {
  overflow: auto;
  margin: 50px;
  display: inline-block;
  width: 1200px;

}

p {
  float: left;
  overflow: auto;
  display: inline-block;
  margin: 50px
}
